/* our job section */

.photos {
  @extend %section;
}

.photo__thumb {
  position: relative;
  overflow: hidden;
}

.photos__title {
  @extend %title-big;
}

.our-job__title {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  margin-bottom: 0;

  @extend %title-small;

  background-color: var(--bg-our-job);
  color: #ffffff;
}

.photos .card-set {
  --items: 3;
}